<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./static/lib/brat/css/style.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<script src="https://kit.fontawesome.com/cb45cc91b0.js" crossorigin="anonymous"></script>
<title>COVID-19 Term Detector</title>
<link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<style>
/* global setting */
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* for bootstrap */


/* fix vuetify.js default style */
.v-treeview--dense .v-treeview-node__root {
    min-height: 24px;
}

.container {
    padding: 0;
}

/* for brat visualization */
#fig_bratvis {
    width: 100%;
    min-width: 500px;
    min-height: 280px;
}
.brat-vis {
    width: 100%;
    min-width: 500px;
    min-height: 280px;
}
#fig_bratvis svg {
    border: 1px solid #efefef;
}

/* for this page */
.pre-output {
    font-size: 10px;
    line-height: 12px;
    max-height: 200px;
    height: 280px;
    border: 1px solid #dddddd;
    overflow-y: auto;
    padding: 5px;
    background: #eeeeee;
}
</style>

    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/OHNLP/MedTagger" target="_blank"><i class="fa fa-github"></i> GitHub</a>
            </li>
        </ul>
    </div>
    </div>

<body>
<!-- Fixed navbar -->
<div th:insert="~{_header :: header}"></div>

<div class="container">
    <div class="container-fluid" style="margin-top: 70px; height: calc(100% - 70px);">

        <div class="row">

            <div class="col-md-5">
                <h5 class="mt-2">Input Text
                    <small>Maximum length: 3,000 characters</small>
                </h5>
                <div class="form-group">
                    <textarea id="text" maxlength="3000" width="100%" class="form-control" rows="10">The patient had a dry cough and fever or chills yesterday. He is also experiencing new loss of taste today and three days ago.</textarea>
                </div>
                <div class="form-group form-inline">
                    <p>Document Date: <input class="form-control" type="text" id="datepicker" size="30"></p>
                    <button class="btn btn-primary btn-sm" onclick="jarvis.parse();">
                        <i class="fa fa-pencil-alt"></i>
                        Run MedTagger
                    </button>
                </div>
            </div>


            <div class="col-md-7">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="vis-tab" data-toggle="tab" href="#output_tab_vis" role="tab" aria-controls="output_tab_vis" aria-selected="true">Visualization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="func1-tab" data-toggle="tab" href="#output_tab_func1" role="tab" aria-controls="output_tab_func1" aria-selected="false">Funtion X</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="raw-tab" data-toggle="tab" href="#output_tab_rawoutput" role="tab" aria-controls="output_tab_rawoutput" aria-selected="false">Raw Output</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="output_tab_vis" role="tabpanel" aria-labelledby="vis-tab">
                        <p class="mt-2">Brat visualization</p>
                        <div id="fig_bratvis">

                        </div>
                        <p class="mt-2"> Powered by <a href="https://brat.nlplab.org/embed.html" target="_blank">brat</a>. </p>

                    </div>
                    
                    <div class="tab-pane fade" id="output_tab_func1" role="tabpanel" aria-labelledby="func1-tab">
                        <p class="mt-2">Other output content</p>
                        <pre id="output_func1" class="pre-output"></pre>
                    </div>

                    <div class="tab-pane fade" id="output_tab_rawoutput" role="tabpanel" aria-labelledby="raw-tab">
                        <p id="output-msg" class="mt-2">JSON response:</p>
                        <pre id="output_json" class="pre-output"></pre>
                    </div>
                </div>
                
            </div>

        </div>
        <!-- /.row -->

        <hr>
        <div class="row">
            <div class="col-md-8">
                <h4>Concept/Term List</h4>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>Dry cough</li>
                            <li>Fever</li>
                            <li>Lymphopenia</li>
                            <li>Sore Throat</li>
                            <li>Ground Flass Infiltrates</li>
                            <li>Elevated LDH</li>
                            <li>Diarrhea</li>
                            <li>Nasal Congestion</li>
                            <li>Loss of Appetite</li>
                        </ul>
                        <a class="btn btn-secondary"
                            href="https://github.com/OHNLP/MedTagger/tree/master/src/main/resources/medtaggerieresources/covid19"
                            target="_blank" role="button">Ruleset »</a>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Fatigue</li>
                            <li>Dyspnea</li>
                            <li>Headache</li>
                            <li>Myalgia</li>
                            <li>Abdominal Pain</li>
                            <li>Patchy Infiltrates</li>
                            <li>Elevated PT Time</li>
                            <li>Influenza</li>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <h4>COVID-19 Severe Case </h4>
                <p>To identify people at higher risk for severe illness using structured
                    and unstructured data according to the
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-at-higher-risk.html"
                        target="_blank">CDC guideline</a>.</p>
                <p><a class="btn btn-secondary"
                        href="https://github.com/OHNLP/N3C-NLP-Documentation/wiki" target="_blank" role="button">Wiki
                    »</a></p>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2020 Open Health Natural Language Processing (OHNLP) Consortium</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="http://184.73.168.219/index.php/OHNLP:Privacy_policy">Privacy</a>
                </li>
                <li class="list-inline-item"><a
                        href="http://184.73.168.219/index.php/OHNLP:General_disclaimer">Disclaimers</a></li>
                <li class="list-inline-item"><a href="https://github.com/OHNLP/MedTagger/issues">Support</a></li>
                <li class="list-inline-item"><a href="http://ohnlp.org/">About</a></li>
            </ul>
        </footer>

    </div>


    <div id="toastmsg" class="toast" data-delay="8000" style="position: absolute; top: 20px; right: 20px;">
        <div class="toast-header">
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;
            <strong class="mr-auto">System Message</strong>
            <!-- <small>11 mins ago</small> -->
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="toastmsg-body" class="toast-body">
            &nbsp;
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="./static/lib/brat/lib/head.load.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.36/dayjs.min.js"></script>

<script src="/static/js/fig-bratvis-1.0.1.js" type="text/javascript"></script>
<script>


var jarvis = {
    url: {
        parse: '/parse'
    },

    init: function () {
        fig_bratvis.init();

        $( "#datepicker" ).datepicker({
            dateFormat: 'yy-mm-dd'
        }).datepicker('setDate', new Date());
    },

    parse: function () {
        // get the text of the doc
        var doc_text = $('#text').val().trim();
        if (doc_text == '') {
            return
        }

        // get the date of the doc
        var doc_date = $('#datepicker').val().trim();

        // clear the output
        $('#output-json').html('');

        // send to backend
        $.post(
            this.url.parse,
            {doc_text: doc_text, doc_date: doc_date},
            function (data) {
                console.log(data);
                jarvis.msg('Parse result: ' + data.success);
                if (data.success) {
                    jarvis.show(data);
                } else {
                    $('#output_json').html(data.msg);
                }
            }, 'json'
        )
    },

    show: function (data) {
        this.data = data;

        // show return json
        $('#output_json').html(JSON.stringify(data, null, 2));

        // show the Brat visualization
        var doc_date = $('#datepicker').val();
        if (data.data.hasOwnProperty('doc_date')) {
            doc_date = data.data.doc_date;
        }
        fig_bratvis.draw(data.data, doc_date);

        // show other things
    },

    msg: function (s) {
        console.log('* ' + s);
        toast(s);
    }
};

function toast(msg) {
    // $('#toastmsg-body').html(msg);
    // $('#toastmsg').toast('show');
}

$(document).ready(function () {
    jarvis.init();
});

</script>
</body>

</html>