<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cb45cc91b0.js" crossorigin="anonymous"></script>
    <title>Dictionary Builder | MedTagger Web</title>
    <link href="/static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <style>
        .current {
            font-weight: bold;
        }
        /* fix vuetify.js default style */
        .v-treeview--dense .v-treeview-node__root {
            min-height: 24px;
        }
    </style>
    </head>

<body>

    <div class="container-fluid bg-darkCyan fg-white mb-1">
        <div class="row">
            <div class="cell">
                <p>
                    <i class="fa fa-book-medical"></i>
                    Dictionary Builder
                </p>
            </div>
        </div>
    </div>

    <nav data-role="ribbonmenu">
        <ul class="tabs-holder">
            <li><a href="#section-1-1">Main</a></li>
        </ul>

        <div class="content-holder">
            <div class="section" id="section-1-1">

                <div class="group">
                    <div class="form-group">
                        <label>Ontology</label>
                        
                        <select id="acronym" style="width: 150px;" data-role="select">
                            <option value="CIDO">CIDO</option>
                            <option value="MONDO">MONDO</option>
                        </select>

                    </div>
                    <button id="btn_load_data" class="ribbon-button"
                        onclick="jarvis.load_ontology_csv();">
                        <span class="icon">
                            <i class="fa fa-envelope-open-text"></i>
                        </span>
                        <span class="caption">Load Data</span>
                    </button>

                    <span class="title">Ontology Database</span>
                </div>

                <div class="group">

                    <button class="ribbon-button"
                        onclick="vw_treemap.extract_selected();">
                        <span class="icon">
                            <i class='fa fa-arrow-alt-circle-right'></i> 
                        </span>
                        <span class="caption">Extract Selection</span>
                    </button>

                    <span class="title">Build Dictionary</span>
                </div>

                <div class="group">
                    
                    <button class="ribbon-button">
                        <span class="icon">
                            <i class="fa fa-upload"></i>
                        </span>
                        <span class="caption">Upload to Server</span>
                    </button>
                    
                    <span class="title">Deployment</span>
                </div>

            </div>

        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">

            <div class="cell">

                <div id="vw_treemap" data-role="panel"
                    data-title-caption="Ontology Tree"
                    data-title-icon="<span class='mif-tree'></span>"
                    data-custom-buttons="vw_treemap.panel_buttons">

                    <div class="pl-5 pr-5" 
                        v-if="items.length == 0"
                        v-html="msg">
                    </div>
                    <div class="text-left" 
                        v-else>
                        The tree is built on {{ ontology.info.num_classes }} classes
                    </div>
                    
                    <template>
                        <v-treeview dense selectable hoverable return-object open-on-click
                            v-model="selection" :load-children="fetch_nodes" v-bind:items="items"
                            selection-type="independent" item-key="id">
                        </v-treeview>
                    </template>

                </div>
            </div>


            <div class="cell">

                <div id="vw_termeditor" data-role="panel"
                    data-title-caption="Term List"
                    data-title-icon="<span class='mif-list'></span>">
                    
                    <div v-if="lines.length == 0">
                        &nbsp;
                    </div>
                    <div v-else>
                        <div v-for="line in lines">
                            {{ line[0] }}|{{ line[1] }}|{{ line[2] }}|{{ line[3] }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.2.0/papaparse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>

    <script>

        var vw_treemap = {
            vpp: null,
            vpp_id: '#vw_treemap',
            acronym: null,

            init: function () {
                this.vpp = new Vue({
                    el: this.vpp_id,
                    vuetify: new Vuetify(),
                    data: {
                        ontology: {
                            selected: '',
                            status: 'none',
                            info: {
                                num_classes: 0,
                                num_subtrees: 0
                            }
                        },
                        msg: '',
                        btn_load: {
                            disabled: false
                        },
                        selectionType: 'leaf',
                        allParentNodes: true,
                        selection: [],
                        items: []
                    },
                    methods: {
                        fetch_nodes: function (item) {
                            console.log(item);
                            return true;
                        },

                        load_tree: function() {
                            vw_treemap.clear();
                            vw_treemap.load(this.ontology.selected);
                        }
                    },
                    computed: {
                        _items() {
                            const replaceChildren = (obj, parent) => {
                                const clone = Object.assign({}, obj)
                                delete clone.children
                                if (parent) clone.parent = parent
                                return clone
                            }

                            const addItems = (arr, parent) => {
                                const items = arr.reduce((acc, x) => {

                                    acc.push(replaceChildren(x, parent))

                                    if (x.children) {
                                        acc.push(addItems(x.children, x.id))
                                    }
                                    return acc
                                }, [])

                                return items.flat()
                            }

                            return addItems(this.items).reduce((acc, x) => {
                                acc[x.id] = x
                                return acc
                            }, {})
                        },
                        _selection() {
                            const proxy = {}
                            addParents = (x, all) => {
                                const parentId = this._items[x.id].parent
                                if (parentId) {
                                    if (all) addParents(this._items[parentId])
                                    proxy[parentId] = this._items[parentId]
                                }
                            }
                            this.selection.forEach(x => {
                                addParents(x, this.allParentNodes)
                                proxy[x.id] = x
                            })
                            return Object.values(proxy)
                        }
                    },
                    mounted: function() {
                        Metro.init();
                    }
                })
            },

            draw: function (data) {
                // bin data
                this.data = data;

                // update settings
                this.vpp.selection = [];
                this.vpp.ontology.info.num_classes = data.num_classes;
                this.vpp.ontology.info.num_subtrees = data.num_subtrees;
                this.vpp.items = data.tree.children;

                // updated 
                console.log('* drawn ontology tree');
            },

            clear: function () {
                this.vpp.selection = [];
                this.vpp.items = [];
            },

            extract_selected: function() {
                var selection = this.vpp.selection;
                if (selection.length == 0) {
                    return;
                }
                // get the item list by the class id of selection
                var nodes = [];
                for (let i = 0; i < selection.length; i++) {
                    const item = selection[i];
                    var class_id = item.id;
                    var node = this.data.node_dict.get(class_id);
                    nodes.push(node);
                }
                
                // send the selections to termlist
                vw_termeditor.draw(nodes);
                
                console.log('* extracted and sent to vw_termeditor!');
            }
        };

        var vw_termeditor = {
            vpp: null,
            vpp_id: '#vw_termeditor',

            acronym: null,

            init: function() {
                this.vpp = new Vue({
                    el: this.vpp_id,
                    data: {
                        lines: []
                    },
                    methods: {

                    },
                    mounted: function() {
                        Metro.init();
                    }
                })
            },

            draw: function(nodes) {
                this.data = nodes;

                var lines = [];

                // parse the node / csv records into raw dictionary records
                for (let i = 0; i < nodes.length; i++) {
                    const item = nodes[i];

                    // so, preferred label can be used as one raw dict record
                    var text = item['Preferred Label'];
                    var def = item['Definitions'];
                    var norm = item['Preferred Label'];
                    var smtc = 'OBJC';
                    lines.push([text, def, norm, smtc])

                    // then synonyms can be used as more raw dict records if exists
                    if (item['Synonyms'] != "") {
                        var syns = item['Synonyms'].split('|');
                        for (let j = 0; j < syns.length; j++) {
                            const syn = syns[j];
                            lines.push([syn, def, norm, smtc]);
                        }
                    }
                }

                // update the app
                this.vpp.lines = lines;
            }

        };

        var jarvis = {
            
            api_url: {
                get_ontology_csv: 'get_ontology_csv',
                get_ontology_root: '/get_ontology_root',
                get_ontology_children: '/get_ontology_children'
            },

            init: function() { 

            },

            make_tree: function() {
                var tree_dict = d3.map();
                var node_dict = d3.map();
                // just for back up and later use
                var node_dict_bak = d3.map();

                // build a node_dict 
                for (let i = 0; i < this.csvtb.data.length; i++) {
                    const row = this.csvtb.data[i];
                    var class_id = row['Class ID'];
                    if (class_id == '') { continue }
                    var parent_class_ids = row['Parents'];
                    parent_class_ids = parent_class_ids.split('|');
                    parent_class_id = parent_class_ids[0];
                    var label = row['Preferred Label'];
                    var synonyms = row['Synonyms'];
                    var definitions = row['Definitions'];
                    
                    // add this new node
                    node_dict.set(class_id, {
                        'id': class_id,
                        'name': label,
                        'children': []
                    });
                    // add to the copy of node_dict
                    node_dict_bak.set(class_id, row);

                    // extend subtree dict
                    if (tree_dict.has(parent_class_id)) {
                        
                    } else {
                        tree_dict.set(parent_class_id, []);
                    }

                    // add this relationship to subtree
                    tree_dict.get(parent_class_id).push(class_id);
                }

                var num_classes = node_dict.size();
                var num_subtrees = tree_dict.size();
                console.log(`* built a node dict contains ${num_classes} nodes`);
                console.log(`* built a tree dict contains ${num_subtrees} subtrees`);
                

                // build tree!
                var tree = {
                    'id': 'http://www.w3.org/2002/07/owl#Thing',
                    'name': 'Thing',
                    'children': []
                };

                // define a BFS algorithm for building tree
                function bfs_fill_children(node) {
                    // exit on leaf node
                    if (tree_dict.has(node['id'])) {
                        
                    } else {
                        // this is a leaf node
                        delete node['children'];
                        return;
                    }

                    // put child node to children
                    var children_ids = tree_dict.get(node['id']);

                    for (let i = 0; i < children_ids.length; i++ ) {
                        var child_id = children_ids[i];
                        if (node_dict.has(child_id)) {
                            var node_child = node_dict.get(child_id);
                            // remove from node_dict
                            node_dict.remove(child_id);
                            // append new child
                            node['children'].push(node_child);
                        } else {
                            continue 
                        } 
                        
                    }
                        
                    if (node['children'].length == 0) {
                        delete node['children'];
                        return;
                    }

                    for (let i=0; i<node['children'].length; i++) {
                        var child = node['children'][i];
                        bfs_fill_children(child);
                    }
                }

                // run the BFS algorithm on tree
                bfs_fill_children(tree);

                // bind result
                this.ontology_tree = {
                    num_classes: num_classes,
                    num_subtrees: num_subtrees,
                    node_dict: node_dict_bak,
                    tree: tree
                };
                console.log('* built tree!');
            },

            load_ontology_csv: function() {
                var acronym = $('#acronym').val();
                // update msg
                vw_treemap.vpp.msg = `<div data-role="activity" data-type="simple" data-style="dark"></div> loading and parsing [${acronym}] data from BioPortal ...`;

                // disable the button
                $('#btn_load_data').attr('disabled', true);
                
                $.get(
                    this.api_url.get_ontology_csv,
                    {acronym: acronym, ver: Math.random()},
                    function(data) {
                        // enable the button
                        $('#btn_load_data').attr('disabled', false);
                        
                        // update message
                        vw_treemap.vpp.msg = `<div data-role="activity" data-type="simple" data-style="color"></div> preparing data for display ...`;
                        jarvis.data = data;
                        jarvis.csvtb = Papa.parse(data, {
                            header: true
                        });
                        console.log('* parsed into csv table!');

                        // build tree 
                        jarvis.make_tree();

                        // draw this tree 
                        vw_treemap.draw(jarvis.ontology_tree);
                    }, 'text'
                )
            },

            load_ontology_root: function() {
                var acronym = $('#acronym').val();
                
                $.get(
                    this.api_url.get_ontology_root,
                    {acronym: acronym, ver: Math.random()},
                    function(data) {

                    }, 'json'
                )
            },

            load_ontology_children: function() {
                var acronym = $('#acronym').val();
                
                $.get(
                    this.api_url.get_ontology_children,
                    {acronym: acronym, ver: Math.random()},
                    function(data) {

                    }, 'json'
                )
            }
        };

        $(document).ready(function() {
            vw_treemap.init();
            vw_termeditor.init();
        });
    </script>
</body>

</html>