<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sijia Liu">
    <title>OHNLP MedTagger Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style-vis.css">
    <script type="text/javascript" src="/js/head.js"></script>


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body class="bg-light">

<!-- Navbar content -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">MedTagger Demo</a>


        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link " href="http://ohnlp.org/">OHNLP</a>
            </li>
            <li>
                <a class="navbar-nav  mr-sm-0" href="https://github.com/OHNLP/MedTagger" target="_blank">
                    <img src="/images/GitHub-Mark-32px.png" alt="Github">
                </a>
            </li>
        </ul>


    </nav>
</div>


<script type="text/javascript" src="/js/brat_loader.js"></script>

<script type="text/javascript">
    var collData = {
        entity_types: [{
            type: 'Condition',
            labels: ['Condition'],
            bgColor: '#7fa2ff',
            borderColor: 'darken'
        }],
        entity_attribute_types: [{
            type: 'norm',
            /* brat supports multi-valued attributes, but in our case we will only
                use a single value and add a glyph to the visualisation to indicate
                that the entity carries that attribute */
            values: {
                'DRY_COUGH': {"glyph": "[DRY_COUGH]",},
                'FEVER': {"glyph": "[FEVER]",},
                'LYMPHOPENIA': {"glyph": "[LYMPHOPENIA]",},
                'SORE_THROAT': {"glyph": "[SORE_THROAT]",},
                'GROUND_GLASS_INFILTRATES': {"glyph": "[GROUND_GLASS_INFILTRATES]",},
                'ELEVATED_LDH': {"glyph": "[ELEVATED_LDH]",},
                'DIARRHEA': {"glyph": "[DIARRHEA]",},
                'NASAL_CONGESTION': {"glyph": "[NASAL_CONGESTION]",},
                'FATIGUE': {"glyph": "[FATIGUE]",},
                'DYSPNEA': {"glyph": "[DYSPNEA]",},
                'HEADACHE': {"glyph": "[HEADACHE]",},
                'MYALGIA': {"glyph": "[MYALGIA]",},
                'ABDOMINAL_PAIN': {"glyph": "[ABDOMINAL_PAIN]",},
                'PATCHY_INFILTRATES': {"glyph": "[PATCHY_INFILTRATES]",},
                'ELEVATED_PT_TIME': {"glyph": "[ELEVATED_PT_TIME]",},
                'INFLUENZA_EXPL': {"glyph": "[INFLUENZA_EXPL]",},
                'LOSS_OF_APPETITE': {"glyph": "[LOSS_OF_APPETITE]",},
                'REMOVE': {"glyph": "[FLU_SHOT]",},
            }
        },
            {
                "values": {
                    "Positive": {
                        // "box": "none",
                        "glyph": "[Positive]",
                        // "dashArray": "1,2" //Incertitude
                    },
                    "Negated": {
                        // "box": "crossed",
                        "glyph": "[Negated]",
                        // "dashArray": "3,4" //Incertitude
                    }
                },
                "type": "certainty",
                "name": "certainty"
            },
            {
                "values": {
                    "Present": {
                        "glyph": "[Present]",
                    },
                    "HistoryOf": {
                        "glyph": "[HistoryOf]",
                    }
                },
                "type": "status",
                "name": "status"
            },
            {
                "values": {
                    "Patient": {
                        "glyph": "[Patient]",
                    },
                    "Others": {
                        "glyph": "[Others]",
                    }
                },
                "type": "experiencer",
                "name": "experiencer"
            },
        ]
    };
</script>

<script th:inline="javascript">
    var docData = {
        text: [[${input_text}]],
        entities:
            [[${cmList}]],
        attributes:
            [[${attribList}]],
    };
</script>

<div class="container">
    <div class="py-5 text-center">
        <h2>MedTagger COVID 19 Demo</h2>
        <p class="lead">Extracting symptoms of COVID 19 from clinical texts</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Input text here</h4>
            <p class="mb-3">Maximum length: 3000 characters</p>

            <form class="needs-validation" novalidate id="textform"
                  method="POST">
                <div class="mb-3">
                    <textarea class="form-control" rows="3" name="docText" form="textform" maxlength="3000"
                              th:text="${input_text}"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-4  mx-auto">
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Run MedTagger"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr class="mb-3">

    <div class="row">

        <div class="col-md-12 order-md-1">
            <h4 class="mb-3"><span th:if="${isResult}">Results</span></h4>

            <p><span th:if="${isResult}">The results may take several seconds to load.</span></p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">

            <div id="embedding-entity-example"></div>

            <div class="col-md-12 ">
                <script type="text/javascript">
                    head.ready(function () {
                        // Evaluate the code from the example (with ID
                        // 'embedding-entity-example') and show it to the user
                        Util.embed('embedding-entity-example', $.extend({}, collData),
                            $.extend({}, docData), webFontURLs);
                    });
                </script>
            </div>
            <p><span th:if="${isResult}"><hr class="md-3"></span></p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>Concept/Term List</h4>
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>Dry cough</li>
                        <li>Fever</li>
                        <li>Lymphopenia</li>
                        <li>Sore Throat</li>
                        <li>Ground Flass Infiltrates</li>
                        <li>Elevated LDH</li>
                        <li>Diarrhea</li>
                        <li>Nasal Congestion</li>
                        <li>Loss of Appetite</li>
                    </ul>
                    <a class="btn btn-secondary"
                       href="https://github.com/OHNLP/MedTagger/tree/master/src/main/resources/medtaggerieresources/covid19"
                       target="_blank" role="button">Ruleset »</a>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Fatigue</li>
                        <li>Dyspnea</li>
                        <li>Headache</li>
                        <li>Myalgia</li>
                        <li>Abdominal Pain</li>
                        <li>Patchy Infiltrates</li>
                        <li>Elevated PT Time</li>
                        <li>Influenza</li>
                    </ul>

                </div>
            </div>

        </div>
        <div class="col-md-4">
            <h4>COVID-19 Severe Case </h4>
            <p>To identify people at higher risk for severe illness using structured
                and unstructured data according to the
                <a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-at-higher-risk.html"
                   target="_blank">CDC guideline</a>.</p>
            <p><a class="btn btn-secondary"
                  href="https://github.com/OHNLP/MedTagger/wiki/Risk-for-Severe-Illness-of-COVID-19" role="button">Wiki
                »</a></p>
        </div>
    </div>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 Open Health Natural Language Processing (OHNLP) Consortium</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="http://184.73.168.219/index.php/OHNLP:Privacy_policy">Privacy</a></li>
            <li class="list-inline-item"><a
                    href="http://184.73.168.219/index.php/OHNLP:General_disclaimer">Disclaimers</a></li>
            <li class="list-inline-item"><a href="https://github.com/OHNLP/MedTagger/issues">Support</a></li>
            <li class="list-inline-item"><a href="http://ohnlp.org/">About</a></li>
        </ul>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
<!--<script src="form-validation.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>
