{
    "data": {
      "attributes": [
        [
          "A1", 
          "norm", 
          "T1", 
          "DRY_COUGH"
        ], 
        [
          "A2", 
          "certainty", 
          "T1", 
          "Positive"
        ], 
        [
          "A3", 
          "status", 
          "T1", 
          "Present"
        ], 
        [
          "A4", 
          "experiencer", 
          "T1", 
          "Patient"
        ], 
        [
          "A5", 
          "norm", 
          "T2", 
          "FEVER"
        ], 
        [
          "A6", 
          "certainty", 
          "T2", 
          "Positive"
        ], 
        [
          "A7", 
          "status", 
          "T2", 
          "Present"
        ], 
        [
          "A8", 
          "experiencer", 
          "T2", 
          "Patient"
        ], 
        [
          "A9", 
          "norm", 
          "T3", 
          "DYSPNEA"
        ], 
        [
          "A10", 
          "certainty", 
          "T3", 
          "Positive"
        ], 
        [
          "A11", 
          "status", 
          "T3", 
          "Present"
        ], 
        [
          "A12", 
          "experiencer", 
          "T3", 
          "Patient"
        ], 
        [
          "A13", 
          "norm", 
          "T4", 
          "FATIGUE"
        ], 
        [
          "A14", 
          "certainty", 
          "T4", 
          "Positive"
        ], 
        [
          "A15", 
          "status", 
          "T4", 
          "Present"
        ], 
        [
          "A16", 
          "experiencer", 
          "T4", 
          "Patient"
        ], 
        [
          "A17", 
          "norm", 
          "T5", 
          "DIARRHEA"
        ], 
        [
          "A18", 
          "certainty", 
          "T5", 
          "Positive"
        ], 
        [
          "A19", 
          "status", 
          "T5", 
          "Present"
        ], 
        [
          "A20", 
          "experiencer", 
          "T5", 
          "Patient"
        ], 
        [
          "A21", 
          "norm", 
          "T6", 
          "HEADACHE"
        ], 
        [
          "A22", 
          "certainty", 
          "T6", 
          "Positive"
        ], 
        [
          "A23", 
          "status", 
          "T6", 
          "Present"
        ], 
        [
          "A24", 
          "experiencer", 
          "T6", 
          "Patient"
        ], 
        [
          "A25", 
          "norm", 
          "T7", 
          "SORE_THROAT"
        ], 
        [
          "A26", 
          "certainty", 
          "T7", 
          "Positive"
        ], 
        [
          "A27", 
          "status", 
          "T7", 
          "Present"
        ], 
        [
          "A28", 
          "experiencer", 
          "T7", 
          "Patient"
        ], 
        [
          "A29", 
          "norm", 
          "T8", 
          "NASAL_CONGESTION"
        ], 
        [
          "A30", 
          "certainty", 
          "T8", 
          "Positive"
        ], 
        [
          "A31", 
          "status", 
          "T8", 
          "Present"
        ], 
        [
          "A32", 
          "experiencer", 
          "T8", 
          "Patient"
        ]
      ], 
      "entities": [
        [
          "T1", 
          "Condition", 
          [
            [
              9, 
              18
            ]
          ]
        ], 
        [
          "T2", 
          "Condition", 
          [
            [
              23, 
              28
            ]
          ]
        ], 
        [
          "T3", 
          "Condition", 
          [
            [
              59, 
              78
            ]
          ]
        ], 
        [
          "T4", 
          "Condition", 
          [
            [
              104, 
              111
            ]
          ]
        ], 
        [
          "T5", 
          "Condition", 
          [
            [
              135, 
              143
            ]
          ]
        ], 
        [
          "T6", 
          "Condition", 
          [
            [
              144, 
              152
            ]
          ]
        ], 
        [
          "T7", 
          "Condition", 
          [
            [
              181, 
              192
            ]
          ]
        ], 
        [
          "T8", 
          "Condition", 
          [
            [
              208, 
              218
            ]
          ]
        ]
      ], 
      "text": "I have a dry cough and fever or chills. And the following:\nShortness of breath or difficulty breathing.\nFatigue, Muscle or body aches, diarrhea\nHeadache, new loss of taste or smell\nSore throat, congestion or runny nose, nausea or vomiting"
    }, 
    "msg": "Failed", 
    "success": true
  }  